body {
  font-family: 'Roboto', sans-serif;
  background-color: #3b3f45;
  margin: 0;
}

.header {
  background-color: #4a4f56;
  color: #ff8984;
  height: 82px;
}

.wrapper {
  max-width: 798px;
  margin: 0 auto;
  text-align: center;
}

.header__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header__text {
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 798px;
  margin: 20px auto;
}

.list {
  margin: 0 auto;
  padding-left: 0;
  max-width: 534px;
  color: #ffffff;
}

.list__item {
  box-sizing: border-box;
  width: 534px;
  height: 45px;
  background-color: #88839e;
  border: 2px solid transparent;
  list-style: none;
}

.list__item:nth-child(2n) {
  background-color: #7a7593;
}

.list__item:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #625e77;
}

.list__item:active {
  background-color: #ff8984;
}

.list__item-label {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 45px;
}

.list__item-name {
  margin: 0;
  font-size: 18px;
}

.list__item-comment {
  font-size: 11px;
}

.checkbox {
  width: 19px;
  height: 19px;
  margin: 12px 16px 12px 12px;
  accent-color: white;
}
.checkbox:checked + .list__item-name {
  position: relative;
}

.checkbox:checked + .list__item-name::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: white;
}

.footer {
  max-width: 534px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  background-color: #4a4f56;
  color: #ff8984;
}

.footer__text {
  text-align: center;
  font-size: 18px;
}
